body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
  padding: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #6fb4b8;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #8b8d8d;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.topContainer {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

/* div {
  background-color: #e4f9f5;
} */
.middleContainer {
  /* background-color: beige; */
  margin: 100px 0;
  /* padding-bottom: 50px; */
}

.bottomContainer {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  /* margin-bottom: auto; */
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomCloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.education-image {
  width: 10%;
  /* float: right; */
}
.experience-img {
  width: 10%;
  /* float: inline-start; */
}
.mySkills {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.mySkills-web {
  width: 15%;
  float: right;
  margin-left: 30px;
}
.myAward {
  width: 10%;
}

.mySkills-ICT {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.mySkills-graphics {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.mySkills-others {
  width: 15%;
  float: left;
  margin-right: 30px;
}

/* .education-image {
  width: 15%;
  float: le;
  margin-right: 30px;
} */
/* .experience {
  width: 90%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
} */

.t1 {
  margin: auto;
  text-align: justify;
}

.t2 {
  margin: auto;
  text-align: justify;
}
.intro {
  width: 30%;
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.head {
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
